.grafico{
    display: block;

    margin-left: auto;
    margin-right: auto;

    width: 600px;
    transition: width 0.8s;
}
.grafico:hover{
    width: 700px;
}
.links2{
    display: flex;
    justify-content: space-evenly;

    background-color: beige;
    border-radius: 1rem;

    margin: 0;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding: 1rem;
}
.links2 a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-family: sans-serif;
}
.links2 a:hover{
    color: red;
}
.linha{
    border-left: 1px solid black;
    height: 1.5rem;
}